body {
    margin: 14em;
}

h1.part {
    color: green;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.2em
}

p .dropante {
color: #fb5954;
float: left;
}

p .dropcap {
font: 100 4.1rem/2.1rem "GT Sectra Fine";
text-transform: uppercase;
color: #fb5954;
padding: 0 .32rem 0 0;
margin: 0.1em 0 0 0;
float: left;
}

p .smallcaps {
font-family: "PT Serif";
font-variant: small-caps;
text-transform: uppercase;
font-stretch: ultra-condensed;
font-weight: bold;
font-size: .75rem;
letter-spacing: 1.5px;
line-height: 100%;
}

div.chapterprecis {
    margin: 1em;
}

p+p {
  text-indent: 1em;
}

blockquote p {
    text-indent: 0;
    padding: 0.2em 0;
}

section.level1 {
  page-break-before: always;  
}

section.level2 {
  page-break-before: always; 
}

/* COLLAPSABLE MENU */
/* http://cssdeck.com/labs/pure-css3-expand-collapse */